<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

    <title>QR SCANNER</title>
  </head>
  <body style="background-color: #888; font-size: 14px;">
    <div style=" background-color: #FFF; border: 2px dashed #888; width: 80%; top:50%; left: 50%; transform: translate3d(-50%,-50%, 0); position: absolute; padding: 20px">
      <h3>QR Scanner🔎</h3>
      <form id="form" enctype="multipart/form-data">
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><strong style="font-size: 15px;">Choose source</strong></legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" onclick="handleClick(this);" type="radio" name="gridRadios" id="gridRadios1" value="image" checked>
                <label class="form-check-label" for="gridRadios1">
                  Upload image
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" onclick="handleClick(this);" type="radio" name="gridRadios" id="gridRadios2" value="url">
                <label class="form-check-label" for="gridRadios2">
                  Enter Url
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="media"><strong style="font-size: 15px;">Select image</strong> <span style="font-size: 10px">(png|jpg|jpeg, max size 3MB)</span> </label>
          <div class="col-sm-10" >
            <input type="file" class="form-control-file" style="width: 40%;" name="media" id="media" placeholder=".png, .jpeg">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="url"><strong style="font-size: 15px;">Enter image url</strong></label>
          <div class="col-sm-10">
            <input disabled type="input" class="form-control" style="width: 80%; font-size: 14px; font-style: italic;" name="media_url" id="url" placeholder="https://image.png">
          </div>
        </div>
        <div class="form-group">
          <label for="outputTextArea"><strong style="font-size: 15px;">Output</strong></label> <span style="font-size: 12px;" class="response-success"></span>
          <textarea style="font-family: Lucida Console, Courier New, monospace;" placeholder="output text" class="form-control" id="outputTextArea" rows="3"></textarea>
        </div>
        <button type="button" onclick="submitForm()" class="btn btn-primary" style="width: 116px;">Scan 🔎</button>
      </form>
      <div style="text-align: center; margin-top: 5px;">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="http://spsp.me">🌐 spsp.me</a>
        <a class="text-reset fw-bold" href="mailto:spsparmar1729@gmail.com">📩 spsparmar1729@gmail.com</a>
      </div>
    </div>
  </body>
  <script>
    function submitForm() {
      let textarea = document.querySelector('textarea');
      textarea.style.border = '';
      textarea.value = '';
      var data = new FormData();
      var choice = document.querySelector('input[name=gridRadios]:checked');
      var inputFile = document.querySelector('input[type="file"]');
      var url = document.querySelector('input[type="input"]');
      if (choice.value === 'image' && inputFile.files.length) {
        if (inputFile.files.length > 1) {
          let span = document.querySelector('span[class="response-success"]');
          span.textContent = 'Upload only one file.';
          span.style.color = 'red';
          return;
        }
        const name = inputFile.files[0].name;
        const ext = name.substring(name.lastIndexOf('.') + 1);
        if (!['jpg', 'png', 'jpeg'].includes(ext)) {
          let span = document.querySelector('span[class="response-success"]');
          span.textContent = '(Only png, jpg and jpeg files are allowed)';
          span.style.color = 'red';
          return;
        }

        const size = inputFile.files[0].size;

        if (size > 3000000) {
          let span = document.querySelector('span[class="response-success"]');
          span.textContent = '(Maximum file size is 3 MB)';
          span.style.color = 'red';
          return;
        }
        data.append('media', inputFile.files[0]);
      } else if (choice.value === 'url' && url.value) {
        if (isValidUrl(url.value)) {
          data.append('media_url', url.value);
        } else {
          let span = document.querySelector('span[class="response-success"]');
          span.textContent = '(Invalid URL)';
          span.style.color = 'red';
          return;
        }
      } else {
        let span = document.querySelector('span[class="response-success"]');
        span.textContent = 'File or URL is required!';
        span.style.color = 'red';
        return;
      }

      const {origin} = document.location;

      let button = document.querySelector('button');
      button.setAttribute('disabled', true);
      button.innerText = 'Scanning...';

      fetch(`${origin}/decode`, {
        body: data,
        method: "POST"
      })
      .then(res => res.json())
      .then(response => {

        button.removeAttribute('disabled');
        button.innerText = 'Scan';
        let span = document.querySelector('span[class="response-success"]');
        let textarea = document.querySelector('textarea');
        if (response.success) {

          textarea.value = response.text;
          textarea.style.border = '1px solid #4fec54';
          textarea.style.height = "1px";
          textarea.style.height = (25+textarea.scrollHeight)+"px";

          span.textContent = '(Success😎)';
          span.style.color = '#4fec54';

        } else {
          span.textContent = '(Error😩)';
          span.style.color = 'red';
          if (typeof response.message === 'string') {
            textarea.value = response.message;
          } else if (response.message && response.message.message && typeof response.message.message === 'string') {
            textarea.value = response.message.message;
          } else {
            textarea.value = 'Something went wrong!';
          }
          textarea.style.border = '1px solid red';
          textarea.style.height = "1px";
          textarea.style.height = (25+textarea.scrollHeight)+"px";
        }
      })
      .catch(err => {
        button.removeAttribute('disabled');
        button.innerText = 'Scan';
        console.error(err);
      });
    }

    function handleClick(myRadio) {
      const val = myRadio.value;
      var inputFile = document.querySelector('input[type="file"]');
      var url = document.querySelector('input[type="input"]');
      if (val === 'url') {
        url.removeAttribute('disabled');
        inputFile.value = '';
        inputFile.setAttribute('disabled', true);
      } else if (val === 'image') {
        url.setAttribute('disabled', true);
        url.value = '';
        inputFile.removeAttribute('disabled');
      }
      let textarea = document.querySelector('textarea');
      textarea.style.border = '';
      textarea.value = '';

      let span = document.querySelector('span[class="response-success"]');
      span.textContent = '';
    }

    function isValidUrl(url) {
      if (!url) return false;
      var expression =
        /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
      var regex = new RegExp(expression);
      return url.match(regex);
    }
  </script>
</html>
